###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/reference.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/*
!/assets/vendor/pixi-bundle.js
###< symfony/asset-mapper ###
node_modules

###> phpunit/phpunit ###
.phpunit.cache
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.cache
###< phpstan/phpstan ###

###> dbrekelmans/bdi ###
/drivers/
###< dbrekelmans/bdi ###

###> infection/infection ###
infection.log
###< infection/infection ###
