<span class="timeline-mob p-xs b-r-sm border-left">{{ item.name }}</span>

{#<div class="bg-warning p-xs b-r-sm">#}
{#    <div class="pull-left">#}
{#        <div class="monster {{ fight.mob|monsterClassCss }}"></div>#}
{#    </div>#}
{#    <div class="pull-left">#}
{#        {{ fight.mob.name }}#}
{#    </div>#}
{#</div>#}