<div id="skills-domain-{{ domain.id }}" class="skill-domain-tree cols-xs-12" style="height: 200px;"></div>



<div id="skill-description-{{ domain.id }}"></div>

<script type="text/javascript">

</script>