<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for recipe in recipes %}
        {% include 'game/craft/_recipe_card.html.twig' with {
            recipe: recipe,
            canCraft: canCraft[recipe.id] ?? false,
            hasIngredients: true
        } %}
    {% endfor %}
</div>
